/* ITC Avant Garde Gothic Pro Medium */
@font-face {
    font-family: 'ITC_Avant_Garde_Gothic_Pro_Medium';
    src: url('./assets/fonts/ITC_Avant_Garde_Gothic_PRO_Font_Family/ITC_Avant_Garde_Gothic_Pro-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* ITC Avant Garde Gothic Pro Book */
@font-face {
    font-family: 'ITC_Avant_Garde_Gothic_Pro_Book';
    src: url('./assets/fonts/ITC_Avant_Garde_Gothic_PRO_Font_Family/ITC_Avant_Garde_Gothic_Pro-Book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* ITC Avant Garde Gothic Pro XLt */
@font-face {
    font-family: 'ITC_Avant_Garde_Gothic_Pro_XLt';
    src: url('./assets/fonts/ITC_Avant_Garde_Gothic_PRO_Font_Family/ITC_Avant_Garde_Gothic_Pro-XLt.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* ITC Avant Garde Gothic Std Extra Light */
@font-face {
    font-family: 'ITC_Avant_Garde_Gothic_Std_Extra_Light';
    src: url('./assets/fonts/ITC_Avant_Garde_Gothic_Std/ITC_Avant_Garde_Gothic_Std_Extra_Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* ITC Avant Garde Gothic Std Medium */
@font-face {
    font-family: 'ITC_Avant_Garde_Gothic_Std_Medium';
    src: url('./assets/fonts/ITC_Avant_Garde_Gothic_Std/ITC_Avant_Garde_Gothic_Std_Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'ITC_Avant_Garde_Gothic_Std_Extra_Light';
    user-select: none;
}

html {
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    padding: 0;
}

header {
    font-size: 0;
}

.fullscreen-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#logo {
    right: 60px;
    top: 60px;
    position: absolute;

}

#more-info-button {
    cursor: pointer;
    height: 160px;
    width: 100vw;
    background: linear-gradient(to right, #FFE9F4, #FFB8D9);
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 3rem;
    color: white;
    font-family: 'ITC_Avant_Garde_Gothic_Std_Extra_Light' !important;
    letter-spacing: 2px;
    transition: font-size 0.5s;

}

#more-info-button:hover {
    font-size: 2.7rem;
}

.scroll-hint {
    width: 4px;
    height: 80px;
    left: calc(50% - 4px);
    position: fixed;
    z-index: 100;
    bottom: 5px;
    background-color: rgba(221, 221, 221, 0.699);
    border-radius: 10px;
}

.animated-scroll-hint {
    width: 4px;
    height: 15px;
    left: calc(50% - 4px);
    position: fixed;
    z-index: 100;
    bottom: 5px;
    background-color: #fff;
    border-radius: 10px;
    animation-name: scroll-animation;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}

@keyframes scroll-animation {
    from {
        bottom: 5px;
    }

    to {
        bottom: 70px;
    }
}

#preOrder {
    background-color: white;
    height: max-content;
    overflow: visible;
}

#preOrder h1 {
    font-family: 'ITC_Avant_Garde_Gothic_Pro_Book' !important;
    letter-spacing: 2px;
    font-size: 8rem;
    color: #E52271;
    text-align: center;
    margin-bottom: 64px;
    transform: translateY(100px) scale(0.7);
}

#preOrder h1 span {
    font-family: 'ITC_Avant_Garde_Gothic_Pro_Book' !important;
    opacity: 0;
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
}

.span-run:nth-child(1) {
    opacity: 1 !important;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: calc(1 * 40ms);
    transition-delay: calc(1 * 40ms);
}

.span-run:nth-child(2) {
    opacity: 1 !important;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: calc(1 * 40ms);
    transition-delay: calc(2 * 40ms);
}

.span-run:nth-child(3) {
    opacity: 1 !important;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: calc(1 * 40ms);
    transition-delay: calc(3 * 40ms);
}

.span-run:nth-child(4) {
    opacity: 1 !important;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: calc(1 * 40ms);
    transition-delay: calc(4 * 40ms);
}

.span-run:nth-child(5) {
    opacity: 1 !important;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: calc(1 * 40ms);
    transition-delay: calc(5 * 40ms);
}

.span-run:nth-child(6) {
    opacity: 1 !important;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: calc(1 * 40ms);
    transition-delay: calc(6 * 40ms);
}

.span-run:nth-child(7) {
    opacity: 1 !important;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: calc(1 * 40ms);
    transition-delay: calc(7 * 40ms);
}

.span-run:nth-child(8) {
    opacity: 1 !important;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: calc(1 * 40ms);
    transition-delay: calc(8 * 40ms);
}

.span-run:nth-child(9) {
    opacity: 1 !important;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: calc(1 * 40ms);
    transition-delay: calc(9 * 40ms);
}

.span-run:nth-child(10) {
    opacity: 1 !important;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: calc(1 * 40ms);
    transition-delay: calc(10 * 40ms);
}

.span-run:nth-child(11) {
    opacity: 1 !important;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: calc(1 * 40ms);
    transition-delay: calc(11 * 40ms);
}

.span-run:nth-child(12) {
    opacity: 1 !important;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: calc(1 * 40ms);
    transition-delay: calc(12 * 40ms);
}

.span-run:nth-child(13) {
    opacity: 1 !important;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: calc(1 * 40ms);
    transition-delay: calc(13 * 40ms);
}

.span-run:nth-child(14) {
    opacity: 1 !important;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: calc(1 * 40ms);
    transition-delay: calc(14 * 40ms);
}

.preorderTitleAnimation {
    -webkit-animation: preorderTitleAnim 1.5s ease-in-out both;
    animation: preorderTitleAnim 1.5s ease-in-out both;
}

@keyframes preorderTitleAnim {
    0% {
        transform: translateY(100px) scale(0.7);
    }

    45% {
        transform: translateY(100px) scale(0.7);
    }

    100% {
        transform: translateY(0) scale(1);
    }
}


#preOrder button {
    font-family: 'ITC_Avant_Garde_Gothic_Pro_XLt' !important;
    letter-spacing: 2px;
    font-size: 2rem;
    color: white;
    background: linear-gradient(to right, #F14695, #E52271);
    text-align: center;
    margin: auto;
    margin-bottom: 128px;
    display: block;
    padding: 25px 45px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.fadeInAnimation {
    -webkit-animation: fadeInAnim 1s ease both;
    animation: fadeInAnim 1s ease both;
    animation-delay: 0.4s;
}

@keyframes fadeInAnim {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#gallery-container {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#gallery-container div {
    text-align: center;
    color: white;
}

#gallery-container h1 {
    font-family: 'ITC_Avant_Garde_Gothic_Std_Extra_Light';
    font-weight: normal;
    font-size: 4rem;
}

#gallery-container h2 {
    font-family: 'ITC_Avant_Garde_Gothic_Pro_XLt';
    font-weight: normal;
    font-size: 3rem;
}

#gallery-container h3 {
    font-family: 'ITC_Avant_Garde_Gothic_Pro_XLt';
    font-weight: normal;
    font-size: 2rem;
}

#gallery-container h4 {
    font-family: 'ITC_Avant_Garde_Gothic_Pro_XLt';
    font-weight: normal;
    font-size: 1.5rem;
}


#slider {
    top: 235px;
    overflow: unset !important;
    overflow-x: clip !important;
    position: absolute;
    width: 100%;
    z-index: -1;
}

#slider-footer {
    position: relative;
}

#slider-footer::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    z-index: -2;
    clip-path: polygon(0 1%, 100% 0, 100% 100%, 0 100%);
    background: linear-gradient(to bottom, #F14695, #E52271);
}

#slider-container {
    padding-top: 345px;
}

.slide-container {
    transition: opacity .2s;
    overflow-x: clip;
}

.slide-header {
    padding-left: 35px;
}

.slide-body {
    display: flex;
    justify-content: start;
}

.white-background {
    content: url('./assets/images/slider/white_background.webp');
    z-index: -2;
    display: block;
    width: 100%;
    position: relative;
}

.slide-body>div {
    color: #E52271;
    padding-left: 60px;
}

.slide-text {
    width: 40%;
    padding-top: 100px;
}

.slide-text h2 {
    font-family: 'ITC_Avant_Garde_Gothic_Std_Extra_Light';
    font-weight: normal;
    font-size: 4rem;
    margin-bottom: 60px;
}

.slide-text p {
    text-align: start;
    font-size: 1.3rem;
    font-weight: normal;
    letter-spacing: normal;
}

.slide-img {
    width: 60%;
}

.slide-img img {
    z-index: 1111111;
}

#blanca {
    transform: translate(140px, -490px);
    clip-path: polygon(0 0, 100% 0, 100% 87.55%, 0 97%);
}

#leeliel {
    transform: translate(0px, -520px);
    clip-path: polygon(0 0, 100% 0, 100% 82.3%, 0 94.53%);
}

#velonica {
    transform: translate(140px, -500px);
    clip-path: polygon(0 0, 100% 0, 100% 81.8%, 0 91.3%);
}

#kana {
    transform: translate(-400px, -473px);
    clip-path: polygon(0 0, 100% 0, 100% 80.95%, 0 100%);

}

.js-prev {
    content: url('./assets/images/slider/empty_left_arrow.webp');
    display: block;
    transition: transform .2s;
    position: absolute;
    top: 700px;
    left: 850px;
}

.js-next {
    content: url('./assets/images/slider/empty_right_arrow.webp');
    display: block;
    transition: transform .2s;
    position: absolute;
    top: 600px;
    right: 100px;
}

.js-prev:hover {
    transform: scale(1.05);
    cursor: pointer;
    content: url('./assets/images/slider/full_left_arrow.webp');
}

.js-next:hover {
    transform: scale(1.05);
    cursor: pointer;
    content: url('./assets/images/slider/full_right_arrow.webp');
}

#artbook {
    cursor: pointer;
    width: max-content;
    position: absolute;
    top: 1080px;
    left: 60px;
}

#artbook p {
    width: max-content;
    text-align: center;
    color: #E52271;
}

.book-icon {
    content: url('./assets/images/slider/book_icon.webp');
}

footer {
    padding: 250px 0;
    width: 85%;
    display: block;
    margin: auto;
    z-index: 99999;
}

footer h2 {
    margin-top: 0;
    font-family: 'ITC_Avant_Garde_Gothic_Pro_XLt';
    color: white;
}

footer table {
    font-family: 'ITC_Avant_Garde_Gothic_Pro_XLt';
    color: white;
    width: 110%;
    border-spacing: 0 10px;
}

td:first-of-type {
    width: 33%;
}

td:last-of-type {
    width: 77%;
}

.top-footer {
    margin-bottom: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.social-media {
    margin: 5px;
    cursor: pointer;
}

.social-media:first-of-type {
    margin: 5px 5px 5px 0px;
}

.company-logo {
    display: block;
    position: relative;
    top: 30px;
    left: 75px;
    cursor: pointer;
}

.horizontal-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.d-none {
    display: none;
}

.hide {
    opacity: 0;
}

.horizontal-list img {
    margin: 20px 20px;
}

.horizontal-list img:first-of-type {
    margin: 20px 20px 20px 0px;
}

@media only screen and (max-device-width: 605px) {
    #logo {
        width: 350px;
        right: 6vw;
        position: absolute;
    }

    #more-info-button {
        font-size: 2rem;
    }

    #preOrder h1 {
        font-size: 4rem;
    }

    footer table {
        width: 106%;
    }

    td:first-of-type {
        width: 33%;
    }

    td:last-of-type {
        width: 73%;
    }

    footer h2 {
        margin-top: 30px;
    }
}

@media only screen and (max-device-width: 355px) {
    #logo {
        width: 200px;
        right: 15vw;
        position: absolute;
    }

    #more-info-button {
        font-size: 1.5rem;
    }

    #preOrder h1 {
        font-size: 3.5rem;
    }

    #preOrder button {
        font-size: 1rem;
    }
}